* {
    box-sizing: border-box;
  }
  
  body {
    font-size: 1rem;
  }
  
  header {
    background-color: #fff;
    padding: .625rem 1.25rem;
  }
  
  nav {
    display: flex;
    gap: 60px;
  }
  
  .dropDownWrapper {
    width: 40%;
    cursor: pointer;
  }
  .dropDownWrapper button{
    background: transparent;
    width: 100%;
    height: auto;
    border: 1px solid black;
    text-align: left;
    padding: 10px 1.5rem;
    font-size: .875rem;
  }
  .menuList{
    display: none;
  }
  
  ul {
    background-color: white;
    border: 1px solid black;
    width: 100%;
    height: auto;
    padding: 4px 10px;
  }
  ul .show{
    display: block;
  }
  
  ul li {
    list-style: none;
    padding: 1.125rem 1rem ;
  }
  
  
  .show {
    display: block;
}

@media (max-width: 1024px){
 .dropDownWrapper {
  width: 40%;}
}
@media (max-width: 480px){
 .dropDownWrapper {
  width: 45%;}
}
@media (max-width: 375px){
  .dropDownWrapper {
    width: 38%;}
}
@media (max-width: 320px){
  .dropDownWrapper {
    width: 50%;}
    nav {
      gap: 10px;
  }
}